html, body {
    margin: 0;
    border: 0;
    padding: 0;
}

body > * {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0 10px;
}

#input {
    display: flex;
    flex-flow: column;
}